body,
html {
    margin: 1% auto;
}
#container {
    margin: 0 auto;
}
.header {
    text-align: center;
}
.topMenu {
    display: flex;
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 0;
}
.topMenuItem {
    flex-grow: 1;
}
.menuSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}
.dishesSection {
 width: 70%;
 margin: 0 auto;
}
.dishesSection__name {
    text-align: center;
}
.dishesSection__list {
    padding: 3%;
}
.dishesSection__item {
    padding: 2%;
    list-style-type: none;
    border-bottom: 1px dotted black;
  }
.dishSection__price {
    float: right;
}